[Unit]
Description=Activates Rosetta if necessary
After=systemd-binfmt.service
ConditionVirtualization=apple
ConditionArchitecture=arm64

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/rosetta-activation.sh

[Install]
WantedBy=systemd-binfmt.service
